* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #ffffff 0%, #e0e4f5 50%, #4D5B9E 100%);
    height: 100vh;
}

.questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-question {
    display: flex;
    margin: 1em 1.5em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.question-header {
    margin: .1em 4em;
    text-align: center;
    font-weight: 700;
    color: #293264;
}

.possible-answers-container {
    display: flex;
    gap: 1em;
}

.ans-button {
    border: 2px solid #4D5B9E;
    border-radius: 12px;
    padding: .5em 1.5em;
    background: none;
    color: #293264;
    font-size: 0.625rem;
    font-weight: 540;
    cursor: pointer;
}

.ans-button:hover {
    opacity: .5;
}

.quiz-intro-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.game-title {
    font-size: 4.5rem;
    font-weight: 700;
}

.game-description {
    font-size: 1rem;
    font-weight: 400;
}

.start-game-btn {
    margin-top: 2em;
    background: #4D5B9E;
    color: #FFFF;
    padding: 1.1em 3em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.start-game-btn:hover {
    opacity: .5;
}